<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<div class="container bg-light mb-3"> 
    <header class="d-flex justify-content-start py-3"> 
        <ul class="nav nav-pills"> 
            <li class="nav-item me-5 fs-3">Blog</li>
            <li class="nav-item me-2"><a href="/new-post" id="New" class="nav-link active">New</a></li> 
            <li class="nav-item me-2"><a href="/" id="Posts" class="nav-link active" aria-current="page">Posts</a></li> 
            <li class="nav-item me-2"><a href="/drafts" id="Drafts" class="nav-link active">Drafts</a></li> 
        </ul> 
    </header> 
</div> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>