#title {
    width: 80%;
    min-width: 60px;
    line-height: 1.5;
}

#authorName {
    width: 50%;
    line-height: 1.5;
}

#bodyText {
    width: 100%; 
    padding: 10px;
    line-height: 1.5;
    overflow-wrap: break-word;
    overflow: hidden;
    field-sizing: content;
    white-space: pre-wrap;
}
